
@{
    ViewData["Title"] = "Add";
}
@if (ViewData["Added"] == null)
{
    <h1>Add new Video Game</h1>

    <form method="post">
        <div class="form-group">
            <label>Title: </label>
            <input class="form-control" type="text" name="title" />
        </div>
        
        <div class="form-group">
            <label>Rating: </label>
            <input class="form-control" type="text" name="rating" />
        </div>

        <div class="form-group">
            <label>Systems: </label>
            <input class="form-control" type="text" name="systems" />
        </div>

        <div class="form-group">
            <label>Price: </label>
            <input class="form-control" type="text" name="price" />
        </div>

        <input type="submit" value="Add a Video Game!" />
    </form>
}
else
{
    <div class="alert alert-success">Added Game Successfully!</div>
}