
@{
    ViewData["Title"] = "Add";
}

<h1>Add new Video Game</h1>

<form method="post">
    <label>Title: </label>
    <input type="text"name="title" />
    <br />

    <label>Rating: </label>
    <input type="text" name="rating" />
    <br />

    <label>Systems: </label>
    <input type="text" name="systems" />
    <br />

    <label>Price: </label>
    <input type="text"name="price" />
    <br />

    <input type="submit" value="Add a Video Game!" />
</form>